<footer class="bottom-bar">
  <div class="bottom-bar-inner">
    <img src="{{ who_logo }}" alt="World Health Organization, African Region" class="who-logo">
    <div class="bottom-bar-divider"></div>
    <img src="{{ dpc_logo }}" alt="DPC Data Portal" class="dpc-logo">
  </div>
</footer>
